<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <header>
        <nav>
            <a href="/admin/home">Home</a>
            <a href="/admin/createuser">Create User</a>
            <a href="/admin/add">Add Task</a>
            <a href="/admin/tasks">Tasks</a>
        </nav>
    </header>
    <div>
    <h1>welcome to my home page</h1>
    </div>
    <div>
        <form action="/admin/saveuser" method="post">

            <label>Enter User Name</label><br>
            <input type="text" name="name" ><br><br>

            <label>Enter User Email</label><br>
            <input type="text" name="email" ><br><br>

            <label>Enter Mobail NO.</label><br>
            <input type="text" name="mobile" ><br><br>

            <button>Save User</button>
        </form>
    </div>
      
</body>

</html>