<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="/admin/home" class="all-link">Home</a>
                <a href="/admin/createuser" class="all-link">Create User</a>
                <a href="/admin/add" class="all-link">Add Task</a>
                <a href="/admin/tasks" class="all-link">Get Tasks</a>
                <a href="/admin/downloadExcel" class="all-link">download</a>
            </nav>
    </header>
    <div class="main-container">
        <h1 class="headers">welcome to my home page</h1>
    </div>
    </div>
</body>

</html>